body {
}

/* Prevent navbar from covering content*/
@media (min-width: 981px) { body { padding-top: 60px; } }

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-inverse .navbar-nav>li>a.jf-link{
  color: #000000;
}

.navbar-inverse .navbar-nav>li>a.jf-link:hover {
    color: #2277AA;
}

.jf-navbar-item.jf-active{
    /* background-color: #333333; */
    border: 2px solid;
    border-radius: 5px;
    border-color: #3388AA;
}

/*
.jf-navbar-item{
    border: 2px solid;
    border-color: #FFFFFF;
}
*/

.jf-debug{
    margin-bottom: 1px;
    margin-left: 5px;
}

.jf-navbar {
   background: rgba(253,253,255,1.0);
   padding-top: 15px;
   padding-bottom: 15px;
   border-bottom: 1px solid #585858;
}

.jf-navbar-free {
   background: rgba(255,255,255,0.9);
   padding-top: 15px;
   padding-bottom: 15px;
   }

.project-item {
   padding-top: 5;
   padding-bottom: 5;
}

.project-links li{
  display: inline;
  padding: 0;
}

pre{
  text-align: left;
}

.bottom_section{
    background-color: #353535;
    color: #fff;
    text-align: center;
    padding-top: 30px;
}

.bottom_header{
    font-style: italic;
    color: #f4f4f4;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 24px;
    margin-left: 15px;
}

.copyright{
    padding-top: 30px;
    padding-bottom: 30px;
}

#stretchImg {
    zoom: 4;  //increase if you have very small images

    display: block;
    margin: auto;

    height: auto;
    max-height: 100%;

    width: auto;
    max-width: 100%;
}
